body {
  margin: 0;
  padding: 0;
  font-family: Jost, sans-serif;
}
#wrapper {
  /* margin: 0px auto; */
  /* padding: 10%; */
  max-width: 100%;
  padding: 0 4%;
  display: grid;
  /* margin-top: 70px; */
}
#header-social {
  height: 45px;
  background-color: #060606;
  color: #7d7d7d;
  padding: 0 30px;
}
#header-social div {
  display: flex;
  color: #f8f8f8;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}
#social-fty {
  display: flex;
}
#social-fty a {
  padding: 5px;
  display: flex;
  text-decoration: none;
  list-style: none;
  font-size: 13px;
}
#header-social div b {
  align-items: center;
  font-size: 10px;
  margin-left: 100px;
}
#icon-text-list {
  display: flex;
  text-decoration: none;
  margin: 0 6px;
  list-style: none;
  font-size: 10px;
}
#icon-text-list a {
  color: white;
  text-decoration: none;
  transition: all 0.2s linear;
}
#icon-text-list li {
  padding-left: 5px;
  font-size: 10px;
}
#menu-main {
  background: #ffffff;
  margin: 0;
  padding: 0 20px;
  top: 0;
  border-bottom: 0.25px solid #7d7d7d;
}
#menu-main div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
#menu-main #menu {
  display: flex;
  text-decoration: none;
  list-style: none;
  color: #7d7d7d;
  padding: 0px;
  font-size: 14px;
}
#menu-main #menu #choose {
  color: #060606;
}
#menu-main #menu a {
  margin: 0px 20px 0px 0px;
  color: #7d7d7d;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
#header-text-logo {
  font-size: 24px;
}
#menu-logo {
  justify-content: end;
}
#menu-logo a {
  padding: 10px;
  display: flex;
  text-decoration: none;
  list-style: none;
  font-size: 24px;
}
#menu-logo #first {
  width: 80px;
  justify-content: start;
}
#menu-logo #last {
  width: 80px;
  justify-content: end;
}
#title-shop {
  margin-top: 84px;
  background: #f8f8f8;
}
#title-shop img {
  width: 100%;
  height: 130px;
}
#title-shop ul {
  position: absolute;
  top: 150px;
  display: flex;
  left: 3%;
}
#title-shop ul a {
  font-size: 12px;
  list-style-type: #7d7d7d;
  margin-right: 30px;
}
#title-shop ul a #choose {
  list-style: none;
}
#title-shop h1 {
  position: absolute;
  top: 180px;
  display: flex;
  
}

#mainshop {
  max-width: 100%;
  height: auto;
  padding: 50px 12px;
  color: #7d7d7d;
  font-size: 15px;
  display: flex;
}
/* left */
#leftsidebar {
  width: 25%;
  height: auto;
  padding: 0 12px;
}
#leftsidebar #FilterByPrice,
#FilterByColor,
#FilterBySize {
  padding-top: 40px;
}
#leftsidebar #By {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
#leftsidebar #By span {
  font: 12px;
}


#leftsidebar #num {
  margin-right: 10px;
}
#leftsidebar label {
  color: #060606;
}
#leftsidebar #FilterByPrice input {
  align-items: center;
  width: 100%;
}
#leftsidebar #FilterByPrice #By #filter {
  list-style: none;
  text-decoration: none;
  width: 20%;
  background: #060606;
  color: #f8f8f8;
  align-items: center;
  text-align: center;
  padding: 16px;
}
#leftsidebar #FilterByPrice #By #price {
  font-size: 14px;
  color: #7d7d7d;
  margin-top: 20px;
}
#leftsidebar #FilterByColor #By #Filter_choose {
  display: flex;
}
#leftsidebar #FilterByColor #By #Filter_choose #color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
#leftsidebar #FilterByColor #By #Filter_choose span {
  color: #7d7d7d;
}
#leftsidebar #By #circal,
      #circal1,
      #circal2,
      #circal3 {
         padding: 6px;
         height: 14px;
         width: 14px;
         display: flex;
         justify-content: center;
         text-align: center;
         border-radius: 50%;
         background-color: #7d7d7d;
         color: #060606;
      }

input[type="checkbox"] {
  background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}
/* right */
#rightsidebar {
  width: 75%;
  height: auto;
  padding: 0 12px;
}
#rightsidebar #bannershop {
  width: 100%;
  border-radius: 5px;
  border: 0.1px solid #7d7d7d;
  /* background: #f8f8f8; */
  background: #02010100;
  position: relative;
  z-index: 3;
  overflow: hidden;
  border: 1px solid lightgrey;
}
#rightsidebar #bannershop img {
  max-width: 100%;
  display: block;
  border-radius: 5px;
  right: 30px;
  top: 0;
  z-index: 1;
  
}
/* #rightsidebar #bannershop img:hover {
  transform: scale(1.05);
} */

#rightsidebar #bannershop div {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
#rightsidebar #bannershop a {
  list-style: none;
  z-index: 0;
  text-decoration: none;
}
#rightsidebar #bannershop a #choose {
  color: #060606;
  padding: 6px;
  background-color: #d8d8d8;
  font-size: 10px;
  width: 100px;
  text-align: center;
  border: 1px;
}
#rightsidebar #bannershop h4 {
  color: #060606;
}
#rightsidebar #bannershop a #seemore {
  margin-top: 90px;
  color: #f8f8f8;
  padding: 15px;
  background-color: #060606;
  font-size: 14px;
  width: 140px;
  text-align: center;
  border: 1px;
}
#rightsidebar #Fastfilter {
  padding: 20px 0;
  padding-bottom: 0px;
  display: flex;
}
#rightsidebar #Fastfilter p {
  align-items: center;
  width: 90px;
}

#rightsidebar #Fastfilter ul {
  display: flex;
  flex-wrap: wrap;
}
#rightsidebar #Fastfilter ul a {
  text-decoration: none;
  list-style: none;
  width: 105px;
  padding: 8px 10px;
  border: 1px solid #7d7d7d;
  border-radius: 20px;
  position: relative;
  align-items: center;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #060606;
  margin-right: 10px;
  margin-bottom: 10px;
  font: bold;
  text-align: center;
}
#rightsidebar #Fastfilter ul a:hover {
  background-color: #060606;
  color: #f8f8f8;
}
#rightsidebar #Fastfilter ul li {
  text-align: center;
  margin-right: 2px;
  align-items: center;
}

#rightsidebar #product-shop {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
}
#rightsidebar #product-shop #product-detail {
  width: 23%;
  height: auto;
  padding-right: 18px;
  overflow: hidden;
}

#rightsidebar #product-shop #product-detail #image {
  max-width: 100%;
  position: relative;
  overflow: hidden
}
#rightsidebar #product-shop #product-detail #image img {
  max-width: 100%;
}
#rightsidebar #product-shop #product-detail #image:hover img {
  transition: all 0.3s linear;
  transform: scale(1.1);
}

#rightsidebar #product-shop #product-detail #image #icon-product {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  display: grid;
}
#rightsidebar #product-shop #product-detail #image #icon-product #hidden {
  display: none;
}
#rightsidebar #product-shop #product-detail #image:hover #icon-product #hidden {
  display: block;
  animation: mymove 1s infinite;
  transition: all 0.3s linear;
}
#rightsidebar #product-shop #product-detail #image #icon-product a {
  background-color: #f8f8f8;
  border-radius: 50%;
  padding: 6px;
  text-align: center;
  justify-self: center;
  margin-top: 5%;
}
#rightsidebar #product-shop #product-detail #image #readmore {
  width: 100%; 
  background-color: black; 
  color: white; 
  height: 10%; 
  display: flex;
  align-items: center; 
  position: absolute;
  padding: 3% 0; 
  bottom: -42px;
  justify-content: center;
  transition: 0.25s ease-in-out;
}


#rightsidebar #product-shop #product-detail #image:hover #readmore {
  bottom: 0;
}
#rightsidebar #product-shop #product-detail a {
  text-decoration: none;
}
#rightsidebar #product-shop #product-detail a #name-product {
  color: black;
  list-style: none;
  font-size: 14px;
  margin: 16px 0px;
  font-weight: bold;
}
#rightsidebar #numberpage {
  justify-content: center;
}
#rightsidebar #numberpage ul {
  display: flex;
  text-align: center;
  justify-content: center;
}
#rightsidebar #numberpage li {
  list-style: none;
  margin-left: 5px;
}
#rightsidebar #numberpage li a {
  color: #060606;
  text-decoration: none;
  background-color: #f8f8f8;
  padding: 15px;
}
#rightsidebar #numberpage li #choose {
  color: #f8f8f8;
  background-color: #060606;
}
#rightsidebar #numberpage li a:hover {
  color: #f8f8f8;
  background-color: #060606;
}

#contact {
  display: flex;
  justify-content: space-between;
  padding: 100px 12px;
  border-top: 1px solid #060606;
}

#contact p {
  color: #7d7d7d;
  font-size: 10px;
}
#contact h3 {
  color: #7d7d7d;
  font-size: 14px;
}
#contact input {
  font-size: 14px;
}
#contact #email {
  width: 40%;
}
#contact #email #y-email {
  width: 70%;
}
#contact #submit {
  background: #060606;
  color: #f8f8f8;
  width: 20%;
}


