<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="/https://www.flaticon.com/uicons/interface-icons/css/uicons-rounded-regular.css" rel="stylesheet">
  <link href="/your-path-to-uicons/css/uicons-rounded-bold.css" rel="stylesheet">
  <link href="/your-path-to-uicons/css/uicons-rounded-solid.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styleshop.css">
</head>
<body>
   <div id="wrapper" class="page-wrapper">
      <div id="header-social">
         <div>
        <div id="social-fty">
        <a href="#"><i class="fa-brands fa-facebook" style="color: #ffffff;"></i></a>
        <a href="#"><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></a>
        <a href="#"><i class="fa-brands fa-youtube" style="color: #ffffff;"></i></a>
        </div>
        <b>Free shipping on all orders over 1 milion </b>
        <ul id="icon-text-list">
         <a href="#"><li><span>CART</span></li></a>
         <a href="#"><li><span>SEARCH</span></li></a>
         <a href="#"><li><span>HELP</span></li></a>
        </ul>
      </div>
      </div>

      <div id="menu-main">
         <div>
           <ul id="menu">
            <a href="#"><li><span>HOME</span></li></a>
            <a href="#"><li><span id="choose">SHOP</span></li></a>
            <a href="#"><li><span>PRODUCT</span></li></a>
            <a href="#"><li><span>PRODUCT</span></li></a>
            <a href="#"><li><span>PRODUCT</span></li></a>
           </ul>
           <span id="header-text-logo">GODTHISM</span>
           <div id="menu-logo">
            <a href="#" id="first"><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i></a>
            <a href="#"><i class="fa-solid fa-bag-shopping" style="color: #000000;"></i></a>
            <a href="#"><i class="fa-regular fa-heart" style="color: #000000;"></i></a>
            <a href="#"><i class="fa-sharp fa-solid fa-rotate" style="color: #000000;"></i></a>
            <a href="#"><i class="fa-regular fa-user" style="color: #000000;"></i></a>
            <a href="#" id="last"><i class="fa-solid fa-bars" style="color: #000000;"></i></a>
            </div>
         </div>
      </div>

      <div id="title-shop">
         <img src="img/banner1_shop.png" alt="">
         <ul>
            <a><li id="choose"><span>HOME</span></li></a>
            <a><li><span>SHOP</span></li></a>
         </ul>
         <h1>Shop</h1>
      </div>


      <div id="mainshop">
         <div id="leftsidebar">

            <div id="FilterBy">
               <div id="By">
                   <label>Filter By</label>
                   <a href="#" id="circal"><i class="fa-solid fa-minus" style="color: #000000;"></i></a>
               </div>
               <div id="By">
                  <span>Fattern #1</span>
                  <span id="num">2</span>
               </div>
               <div id="By">
                  <span>Fattern #2</span>
                  <span id="num">2</span>
               </div>
            </div>

            <div id="FilterByPrice">
               <div id="By">
                  <label>Filter By Price</label>
                  <a href="#" id="circal"><i class="fa-solid fa-minus" style="color: #000000;"></i></a>
              </div>
                <input type="range" min="90" max="240" value="75"/>
              <div id="By">
               <a href="#" id="filter"><li>Filter</li></a>
               <span id="price">PRICE: $90 — $240</span>
              </div>
            </div>

            <div id="FilterByColor">
               <div id="By">
                  <label>Filter by Color</label>
                  <a href="#" id="circal"><i class="fa-solid fa-minus" style="color: #000000;"></i></a>
              </div>

              <div id="By">
               <div id="Filter_choose">
               <div href="#" id="color" style="background: #000000;"></div><span>Black</span>
               </div>
               <span id="num">2</span>
              </div>

              <div id="By">
               <div id="Filter_choose">
               <div href="#" id="color" style="background: #000000;"></div><span>Black</span>
               </div>
               <span id="num">2</span>
              </div>

              <div id="By">
               <div id="Filter_choose">
               <div href="#" id="color" style="background: #000000;"></div><span>Black</span>
               </div>
               <span id="num">2</span>
              </div>

              <div id="By">
               <div id="Filter_choose">
               <div href="#" id="color" style="background: #000000;"></div><span>Black</span>
               </div>
               <span id="num">2</span>
              </div>
            </div>

            <div id="FilterBySize">
               <div id="By">
                  <label>Filter By Size</label>
                  <a href="#" id="circal"><i class="fa-solid fa-minus" style="color: #000000;"></i></a>
              </div>

              <div id="By">
                 <span>10K</span>
               <span id="num">2</span>
              </div>

              <div id="By">
               <span>20K</span>
             <span id="num">2</span>
            </div>
             
            <div id="By">
               <span>24K</span>
             <span id="num">2</span>
            </div>
            </div>

         </div>


         <div id="rightsidebar">
              <div id="bannershop">
                   <img src="img/banner.png" alt="">
                   <div>
                   <a href="#" ><li id="choose">NOSE RINGS</li></a>
                   <h4>Free Shipping on over $50</h4>
                   <p>For the terms of the campaign, see the description page.</p>
                  
                   <a href="#" ><li id="seemore">See More Products</li></a>
                  
                  </div>
              </div>

              <div id="Fastfilter">
                  <p>Fast Filters:</p>
                  <ul>
                     <a href=""><li><i class="fa-solid fa-splotch fa-beat" style="color: #ffd500;"></i>FEATURED</li></a>
                     <a href=""><li><i class="fa-solid fa-fire" style="color: #ff4000;"></i>BEST SELLER</li></a>
                     <a href=""><li><i class="fa-solid fa-ranking-star" style="color: #4d8eff;"></i></i>TOP RATED</li></a>
                     <a href=""><li><i class="fa-solid fa-bolt-lightning" style="color: #ffc800;"></i>ON SALE</li></a>
                     <a href=""><li><i class="fa-solid fa-box-open" style="color: #523a1e;"></i>IN STOCK</li></a>
                     <a href=""><li>SECLECT COLOR</li></a>
                     <a href=""><li>SECLECT PATEN</li></a>
         
                  </ul>
              </div>

              <div id="FilterShow">
                  <p>Show 1-12 of 20 results</p>
              </div>
              <div id="product-shop">
                  <div id="product-detail">
                     <div id="image">
                        <img src="img/37000208_OR_B-450x450.webp" alt="Không tín hiệu" >
                        <div id="icon-product">
                        <a href="#"><i class="fa-regular fa-heart" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-solid fa-rotate" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-regular fa-eye" style="color: #000000;"></i></i></a>
                        </div>
                        <a href="#" ><li id="readmore">Read more</li></a>
                     </div>
                     <a href=""><li id="name-product">The Air Scoop-Neck Tee</li></a>
                     <p id="price-product">$95.00</p>
                  </div>

                  <div id="product-detail">
                     <div id="image">
                        <img src="img/37000208_OR_B-450x450.webp" alt="Không tín hiệu" >
                        <div id="icon-product">
                        <a href="#"><i class="fa-regular fa-heart" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-solid fa-rotate" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-regular fa-eye" style="color: #000000;"></i></i></a>
                        </div>
                        <a href="#" ><li id="readmore">Read more</li></a>
                     </div>
                     <a href=""><li id="name-product">The Air Scoop-Neck Tee</li></a>
                     <p id="price-product">$95.00</p>
                  </div>

                  <div id="product-detail">
                     <div id="image">
                        <img src="img/37000208_OR_B-450x450.webp" alt="Không tín hiệu" >
                        <div id="icon-product">
                        <a href="#"><i class="fa-regular fa-heart" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-solid fa-rotate" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-regular fa-eye" style="color: #000000;"></i></i></a>
                        </div>
                        <a href="#" ><li id="readmore">Read more</li></a>
                     </div>
                     <a href=""><li id="name-product">The Air Scoop-Neck Tee</li></a>
                     <p id="price-product">$95.00</p>
                  </div>

                  <div id="product-detail">
                     <div id="image">
                        <img src="img/37000208_OR_B-450x450.webp" alt="Không tín hiệu" >
                        <div id="icon-product">
                        <a href="#"><i class="fa-regular fa-heart" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-solid fa-rotate" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-regular fa-eye" style="color: #000000;"></i></i></a>
                        </div>
                        <a href="#" ><li id="readmore">Read more</li></a>
                     </div>
                     <a href=""><li id="name-product">The Air Scoop-Neck Tee</li></a>
                     <p id="price-product">$95.00</p>
                  </div>

                  <div id="product-detail">
                     <div id="image">
                        <img src="img/37000208_OR_B-450x450.webp" alt="Không tín hiệu" >
                        <div id="icon-product">
                        <a href="#"><i class="fa-regular fa-heart" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-solid fa-rotate" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-regular fa-eye" style="color: #000000;"></i></i></a>
                        </div>
                        <a href="#" ><li id="readmore">Read more</li></a>
                     </div>
                     <a href=""><li id="name-product">The Air Scoop-Neck Tee</li></a>
                     <p id="price-product">$95.00</p>
                  </div>

                  <div id="product-detail">
                     <div id="image">
                        <img src="img/37000208_OR_B-450x450.webp" alt="Không tín hiệu" >
                        <div id="icon-product">
                        <a href="#"><i class="fa-regular fa-heart" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-solid fa-rotate" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-regular fa-eye" style="color: #000000;"></i></i></a>
                        </div>
                        <a href="#" ><li id="readmore">Read more</li></a>
                     </div>
                     <a href=""><li id="name-product">The Air Scoop-Neck Tee</li></a>
                     <p id="price-product">$95.00</p>
                  </div>

                  <div id="product-detail">
                     <div id="image">
                        <img src="img/37000208_OR_B-450x450.webp" alt="Không tín hiệu" >
                        <div id="icon-product">
                        <a href="#"><i class="fa-regular fa-heart" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-solid fa-rotate" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-regular fa-eye" style="color: #000000;"></i></i></a>
                        </div>
                        <a href="#" ><li id="readmore">Read more</li></a>
                     </div>
                     <a href=""><li id="name-product">The Air Scoop-Neck Tee</li></a>
                     <p id="price-product">$95.00</p>
                  </div>

                  <div id="product-detail">
                     <div id="image">
                        <img src="img/37000208_OR_B-450x450.webp" alt="Không tín hiệu" >
                        <div id="icon-product">
                        <a href="#"><i class="fa-regular fa-heart" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-solid fa-rotate" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-regular fa-eye" style="color: #000000;"></i></i></a>
                        </div>
                        <a href="#" ><li id="readmore">Read more</li></a>
                     </div>
                     <a href=""><li id="name-product">The Air Scoop-Neck Tee</li></a>
                     <p id="price-product">$95.00</p>
                  </div>

                  <div id="product-detail">
                     <div id="image">
                        <img src="img/37000208_OR_B-450x450.webp" alt="Không tín hiệu" >
                        <div id="icon-product">
                        <a href="#"><i class="fa-regular fa-heart" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-solid fa-rotate" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-regular fa-eye" style="color: #000000;"></i></i></a>
                        </div>
                        <a href="#" ><li id="readmore">Read more</li></a>
                     </div>
                     <a href=""><li id="name-product">The Air Scoop-Neck Tee</li></a>
                     <p id="price-product">$95.00</p>
                  </div>

                  <div id="product-detail">
                     <div id="image">
                        <img src="img/37000208_OR_B-450x450.webp" alt="Không tín hiệu" >
                        <div id="icon-product">
                        <a href="#"><i class="fa-regular fa-heart" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-solid fa-rotate" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-regular fa-eye" style="color: #000000;"></i></i></a>
                        </div>
                        <a href="#" ><li id="readmore">Read more</li></a>
                     </div>
                     <a href=""><li id="name-product">The Air Scoop-Neck Tee</li></a>
                     <p id="price-product">$95.00</p>
                  </div>

                  <div id="product-detail">
                     <div id="image">
                        <img src="img/37000208_OR_B-450x450.webp" alt="Không tín hiệu" >
                        <div id="icon-product">
                        <a href="#"><i class="fa-regular fa-heart" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-solid fa-rotate" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-regular fa-eye" style="color: #000000;"></i></i></a>
                        </div>
                        <a href="#" ><li id="readmore">Read more</li></a>
                     </div>
                     <a href=""><li id="name-product">The Air Scoop-Neck Tee</li></a>
                     <p id="price-product">$95.00</p>
                  </div>

                  <div id="product-detail">
                     <div id="image">
                        <img src="img/37000208_OR_B-450x450.webp" alt="Không tín hiệu" >
                        <div id="icon-product">
                        <a href="#"><i class="fa-regular fa-heart" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-solid fa-rotate" style="color: #000000;"></i></a>
                        <a href="#" id="hidden"><i class="fa-regular fa-eye" style="color: #000000;"></i></i></a>
                        </div>
                        <a href="#" ><li id="readmore">Read more</li></a>
                     </div>
                     <a href=""><li id="name-product">The Air Scoop-Neck Tee</li></a>
                     <p id="price-product">$95.00</p>
                  </div>
               
              </div>


              <div id="numberpage">
               <ul>
                <li><a href="#" id="choose">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                </ul>
            </div>
         </div>
      </div>

    <!-- Email -->
     <div id="contact">
      <div id="phone">
         <h3>CUSTOMER SERVICES</h3>
         <h1>(+777) 450-15-415</h1>
         <p>Monday-Friday: 9:00-20:00</p>
      </div>
      <div id="email">
          <h3>NEWSLETTER</h3>
          <form action="" method="post">
            <input  id="y-email" type="email" placeholder="Your-Email">
            <input id="submit" type="submit">
          </form>
          <h3>Sign up to get the latest on new Products, Promotions, Design news and more</h3>
     </div>


   </div>
</body>
</html>